.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


.contact {
    padding-top: 40px;
    padding-left: 80px;
    font-size: 50px;
    font-family: 'EB Garamond', serif;
}
.contact-form {
    width: 50%;
}

.contact-form textarea{
    resize: none;
}

.contact-wrapper{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
        & img{
            width: 50%;
            height: 800px;
            object-fit: cover;
            position: relative;
            bottom: 100px;
        }
}

.contact-form form p {
    margin: 0;
    padding-left: 60px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif; 
    font-weight: bold;
}



.contact-form form button, .contact-form form input, .contact-form form textarea {
    max-width: 350px;
    padding: 10px;
    border: none;
    background: none;
    outline: 0;
    color: black;
    border-bottom: 1px solid black;
}
.contact-form form button {
    border: none;
    text-transform: uppercase;
    padding: 15px;
    font-weight: bold;
}

.contact-form form button:hover{
    color: grey;
}