.carousel-caption{
    margin-bottom: 400px;
}
.carousel-caption h5 {
    font-size: 60px;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.carousel-caption p {
    font-size: 30px;
    font-family: 'Lora', serif;
    letter-spacing: 5px;
}
.carousel-item img{
    filter: brightness(70%);
}