
.servicios h1{
    font-size: 50px;
    text-align: center;
    padding: 10px;
    font-family: 'EB Garamond', serif;
}

.servicios p {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.card {
    text-align: center;
    font-family: 'EB Garamond', serif;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 50px;
  
}
    .card:hover,
    .card:active {
    border-radius: 10px;
    box-shadow: 0 0px 40px rgba(66, 66, 66, 0.863);
    transform: translateY(-3px) scale(0.9) rotateX(15deg);
    }
.btn-primary {
    color:black;
    background-color:rgb(183, 183, 164);
    border-color:rgb(183, 183, 164,);
    font-size: 20px;
    opacity: .8;
}

.btn-primary:hover{
    background-color: grey;
    border: none;
}

@media only screen and (min-width:0px) and (max-width:767px){
    .servicios h1{
        font-size: 35px;
        padding-top: 40px;
    }

    .servicios p{
        font-size: 18px;
    }

    .card{
        margin-top: 0px;
        margin-left: 28px;
    }
}