.container-right{
    height: 100vh;
    width: 50%;
    margin: 0 20px;

    @media only screen and (min-width:0px) and (max-width:767px){
        width: 100vw;
        height: auto;
        margin: 0px;
            & p{
                padding: 0px !important;
                text-align:center;
                margin: 1.3rem;
                width: 90% !important;

            }
            & h1{
                text-align: center;
                padding-left: 0px !important;
            }
    }
}
.container-right h1 {
    font-family: 'EB Garamond', serif;
    padding-top: 30px;
    padding-left: 80px;
}


.container-right p{
    width: 100%;
    padding-top: 30px;
    font-family: 'EB Garamond', serif;
    line-height: 28px;
    
}

.container-left{
    background: url(../assets/img/sobremi.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
    @media only screen and (min-width:0px) and (max-width:767px){
        width: 100%;
        height: 50vh;
    }
}
.pantalla-dividida{
    display: flex;
    height: auto;
    @media only screen and (min-width:0px) and (max-width:767px){
        display: flex;
        flex-direction: column;
    }
}

.boton {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: 300;
    font-family: 'EB Garamond', serif;
    &::after{
        content: '\f061';
        display: inline-block;
        font-size: 16px;
        margin-left: 7px;
        font-weight:900;
        font-family: "Font Awesome 5 Free";
    }
}

.link{
  margin: 80px;
}

.boton:hover{
    color: grey;
}

// @media only screen and (min-width:0px) and (max-width:767px){
//     .container-left{
        
//     }
// }